/* font import */
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap";
/* general styles */
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
*::selection{
  background-color: #ffd000;
  color: #000;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
}

/* header style */
header {
  background-color: #fafafa;
  > .container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    > img {
      width: 70px;
      padding: 10px 0;
      border-bottom-left-radius: 50px;
      border-top-right-radius: 20px;
    }
    .search-box {
      position: absolute;
      top: 1%;
      left: 30%;
      display: flex;
      margin-top: 38px;
      transform: translate(-50%, -50%);
      background: #2f3640;
      height: 50px;
      border-radius: 40px;
      padding: 10px;
    }

    .search-box:hover > .search-text {
      width: 240px;
      padding: 0 6px;
    }

    .search-box:hover > .search-btn {
      background: white;
      color: black;
    }

    .search-btn {
      margin-top: -5px;
      color: #ffd000;
      float: right;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #2f3640;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.4s;
      cursor: pointer;
      text-decoration: none;
    }

    .search-text {
      border: none;
      background: none;
      outline: none;
      float: left;
      padding: 0;
      color: white;
      font-size: 16px;
      font-weight: normal;
      transition: 0.4s;
      line-height: 40px;
      width: 0px;
    }

    > nav {
      > ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        padding: 0;
        gap: 40px;
        > li {
          display: flex;
          justify-content: center;
          align-items: center;
          border-left: 1px solid black;
          padding-left: 3px;
          transition: all 0.3s ease-in 0.48ms;
          &:hover {
            border-left: 4px dotted;
            transform: scale(1.2) rotateZ(-30deg);
          }
          > a {
            margin: 0 10px;
            text-decoration: none;
            color: #000;
            font-weight: 800;
          }
        }
      }
    }
  }
}
